# Collaborations

examining worldwide collaborations on academic articles relating to the coranvirus outbreak 2020

## Source Datasets
* COVID-19 Open Research Dataset Challenge
    * *https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge*
    * 29,000 full text scholarly articles about COVID-19, SARS-CoV-2, and related coronaviruses

* Google Geocode API

## Methods

### Stage 1
The first stage of the analysis took place in a separate Kaggle notebook (https://www.kaggle.com/jeffmacinnes/covid-collaborations/edit) that was used to walk through the COVID-19 Open Research Dataset of 29,000+ academic articles, and create the following datafiles:

1. `allAuthors.csv`: a table showing the **article id**, **author name**, and **author institution** of every author on every article in the corpus. Authors without an associated institution were removed

2. `allArticles.csv`: a table showing the **article id**, **publication source**, **doi**, and **pubmed_id** of each article in the corpus

3. `institutions.csv`: a table showing the **instution name**, **address**, **lat**, and **lng** of every institution represented in the corpus. The institution info was obtained by first grabbing the `institution` name from each author affiliation in the metadata for each article in the corpus. Next, the address and lng/lat of each institution was obtained by passing the institution name into the Google Geocode API. This approach returned a geocoded location on approximately 85% of the 12,000+ unique institutions (*however, see **limitations** below*). Institutions that could not be matched to a location were removed from the dataset

### Stage 2
This notebook uses the source data created in Stage 1 to calculate all cross-institute collaborations present across this body of literature. 

A *collaboration* is defined as **any two authors working together on the same article**. A *cross-institute collaboration* is defined as when those two authors are affiliated separate institutions. For instance, given the following hypothetical author list on a given article:

| Author | Institution |
| ------ | ------ |
| Jane Doe | Institute A |
| John Doe | Institute B |
| Jackie Doe | Institue B |
| Jerimiah Doe | Institute C |

the *cross-institute collaborations* on this article would be:

| Collaborations |  |
| ------ | ------ |
| Institute A | Institue B |
| Institute A | Institue C |
| Institute B | Institue C |

This notebook is used to assemble a dataframe of ALL cross-institute collaborations found in this body of literature

## Limitations
* Due to the way institutions are named in the article metadata, the `institutions.csv` may contain multiple instances of the same institution. For example, the "University of California-Berkeley" is considered a separate institution than "University of California at Berkeley", and so on. However, since these two instances would have the same lat/lng coordinates, it is not a problem for the visualization

* The institution name was used to obtain a geocoded location for that institution, and so mapping the collaborations on a given article to a specific location is only as precise as the listed institution names on that article. For example, if an author works at the University of California - Berkeley, but the institution name is only listed as 'University of California', the author will get placed at whatever UC campus the google API returns for 'University of California'.

In [1]:
import pandas as pd
import numpy as np
import os

from os.path import join
from itertools import combinations

In [2]:
dataDir = '../data'

In [3]:
author_df = pd.read_csv(join(dataDir, 'allAuthors.csv'))

In [4]:
author_df.head()

,paper_id,firstName,lastName,middle,institution
0,25621281691205eb015383cbac839182b838514f,Dominik,Dornfeld,NaN,University of Freiburg
1,25621281691205eb015383cbac839182b838514f,Alexandra,Dudek,H,University of Freiburg
2,25621281691205eb015383cbac839182b838514f,Sira,Günther,C,University of Freiburg
3,25621281691205eb015383cbac839182b838514f,Judd,Hultquist,F,University of California
4,25621281691205eb015383cbac839182b838514f,Sebastian,Giese,NaN,University of Freiburg

## Define function to return a dataframe of cross-institute collabs on given article

In [8]:
test_id = author_df.loc[0, 'paper_id']
test_df = author_df[author_df['paper_id'] == test_id]

In [9]:
test_df

,paper_id,firstName,lastName,middle,institution
0,25621281691205eb015383cbac839182b838514f,Dominik,Dornfeld,NaN,University of Freiburg
1,25621281691205eb015383cbac839182b838514f,Alexandra,Dudek,H,University of Freiburg
2,25621281691205eb015383cbac839182b838514f,Sira,Günther,C,University of Freiburg
3,25621281691205eb015383cbac839182b838514f,Judd,Hultquist,F,University of California
4,25621281691205eb015383cbac839182b838514f,Sebastian,Giese,NaN,University of Freiburg
5,25621281691205eb015383cbac839182b838514f,Daria,Khokhlova-Cubberley,NaN,Zymo Research Corp
6,25621281691205eb015383cbac839182b838514f,Yap,Chew,C,Zymo Research Corp
7,25621281691205eb015383cbac839182b838514f,Nevan,Krogan,J,University of California
8,25621281691205eb015383cbac839182b838514f,Martin,Schwemmle,NaN,University of Freiburg

In [22]:
instList = test_df['institution'].unique().tolist()

uniqueInsts = []
for combo in combinations(instList, 2):
    uniqueInsts.append([test_id, combo[0], combo[1]])

collabs_df = pd.DataFrame(uniqueInsts, columns=['paper_id', 'institute A', 'institute B'])
collabs_df

,paper_id,institute A,institute B
0,25621281691205eb015383cbac839182b838514f,University of Freiburg,University of California
1,25621281691205eb015383cbac839182b838514f,University of Freiburg,Zymo Research Corp
2,25621281691205eb015383cbac839182b838514f,University of California,Zymo Research Corp

# Apply func to full article dataframe

In [43]:
def getArticleCollabs(article_df):
    # return a dataframe of unique cross-institute collaborations on this article
    #paper_id = article_df.iloc[0]['paper_id']
    instList = article_df['institution'].unique().tolist()
    uniqueInsts = []
    for combo in combinations(instList, 2):
        uniqueInsts.append([combo[0], combo[1]])

    return pd.DataFrame(uniqueInsts, columns=['institute A', 'institute B'])

In [49]:
collabs_df = author_df.groupby('paper_id').apply(getArticleCollabs).reset_index()

In [50]:
collabs_df.shape

(38085, 4)

In [51]:
author_df.shape

(109276, 5)

In [52]:
collabs_df.dropna(inplace=True)

In [53]:
collabs_df.shape

(35818, 4)

This is still a lot to visualize, so may need to consider removing duplicates, and instead having a single connection between each institute and every other institute they collaborate with. Number of articles collaborated on between two institutions could be represented by color or thickness of the arc.

In [54]:
collabs_df.head(100)

,paper_id,level_1,institute A,institute B
0,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,0,Chi Mei Medical Center,National Taiwan University Hospital
1,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,1,Chi Mei Medical Center,New Taipei City
2,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,2,Chi Mei Medical Center,National Taiwan University College of Medicine
3,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,3,National Taiwan University Hospital,New Taipei City
4,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,4,National Taiwan University Hospital,National Taiwan University College of Medicine
5,000affa746a03f1fe4e3b3ef1a62fdfa9b9ac52a,5,New Taipei City,National Taiwan University College of Medicine
8,001d8d54a7e73e761f779c81661595cc5ae2ca08,0,University of Antwerp,Vrije Universiteit Amsterdam
9,001ec025dd65db8a47827c8f49d9c41d60f35d00,0,University of Murcia,University of Zagreb
10,001ec025dd65db8a47827c8f49d9c41d60f35d00,1,University of Murcia,Uludag University
11,001ec025dd65db8a47827c8f49d9c41d60f35d00,2,University of Murcia,University of Evora
12,001ec025dd65db8a47827c8f49d9c41d60f35d00,3,University of Zagreb,Uludag University
13,001ec025dd65db8a47827c8f49d9c41d60f35d00,4,University of Zagreb,University of Evora
14,001ec025dd65db8a47827c8f49d9c41d60f35d00,5,Uludag University,University of Evora
15,0022796bb2112abd2e6423ba2d57751db06049fb,0,The Australian National University,James Cook University
16,0022796bb2112abd2e6423ba2d57751db06049fb,1,The Australian National University,University of South Australia
17,0022796bb2112abd2e6423ba2d57751db06049fb,2,The Australian National University,Kelvin Grove
18,0022796bb2112abd2e6423ba2d57751db06049fb,3,James Cook University,University of South Australia
19,0022796bb2112abd2e6423ba2d57751db06049fb,4,James Cook University,Kelvin Grove
20,0022796bb2112abd2e6423ba2d57751db06049fb,5,University of South Australia,Kelvin Grove
22,003229cade748c34593401d3f2b61eadeca86de4,0,Kansas State University,University of Guelph
23,00325033266973fb091b9beb535090bf94810283,0,Universitat Autònoma de Barcelona,Instituto de Salud Carlos III
24,00325033266973fb091b9beb535090bf94810283,1,Universitat Autònoma de Barcelona,Hospital Universitario de Canarias
25,00325033266973fb091b9beb535090bf94810283,2,Universitat Autònoma de Barcelona,Hospital de la Ribera
27,00325033266973fb091b9beb535090bf94810283,4,Instituto de Salud Carlos III,Hospital Universitario de Canarias
28,00325033266973fb091b9beb535090bf94810283,5,Instituto de Salud Carlos III,Hospital de la Ribera
30,00325033266973fb091b9beb535090bf94810283,7,Hospital Universitario de Canarias,Hospital de la Ribera
33,00326efcca0852dc6e39dc6b7786267e1bc4f194,0,Pediatric Hospital Medicine,University of Washington
34,00352a58c8766861effed18a4b079d1683fec2ec,0,Tufts University,Western Washington University
35,0036b28fddf7e93da0970303672934ea2f9944e7,0,University of Thessaly,Texas A&M University
36,0036b28fddf7e93da0970303672934ea2f9944e7,1,University of Thessaly,University of Bologna
...,...,...,...,...
85,0080d3bd9fb92e022c27715c2d1249042aa998b8,4,Novartis Institute for Tropical Diseases,Chinese Academy of Sciences
87,0089aa4b17549b9774f13a9e2e12a84fc827d60b,0,Ludwig-Maximilians-University,University of Amsterdam
88,009002e8a66b8c1df088cf04069629fd76b13bb9,0,Cheongwon,Hanyang University College of Medicine
89,0093f9ae0861afc0d29fff935ae6a3af898cea00,0,Kyoto University,National Institute of Infectious Diseases
91,0093f9ae0861afc0d29fff935ae6a3af898cea00,2,Kyoto University,Osaka University
93,0093f9ae0861afc0d29fff935ae6a3af898cea00,4,National Institute of Infectious Diseases,Osaka University
95,0094b25e2500306fadbdfb41d520f2970bb086d3,0,The Hong Kong Polytechnic University,Hong Kong SAR
96,0094b25e2500306fadbdfb41d520f2970bb086d3,1,The Hong Kong Polytechnic University,The University of Hong Kong
97,0094b25e2500306fadbdfb41d520f2970bb086d3,2,Hong Kong SAR,The University of Hong Kong
98,00ab6bdcb3cdedc8cdbb297379a289a169bb5839,0,Shenzhen University,University of Hong Kong
99,00acd3fd31ed0cde8df286697caefc5298e54df1,0,Royal Children's Hospital,The Pennsylvania State University
100,00acd3fd31ed0cde8df286697caefc5298e54df1,1,Royal Children's Hospital,University of California San Francisco
101,00acd3fd31ed0cde8df286697caefc5298e54df1,2,The Pennsylvania State University,University of California San Francisco
103,00d16927588fb04d4be0e6b269fc02f0d3c2aa7b,0,University of Georgia,Virginia Polytechnical Institute and State Uni...
104,00e7af2188897d57226ae59ebf7874882ff928a3,0,National Defense Medical Center,National University of Singapore
105,00ef21603a690ae62a62c48bac9c847059c0455f,0,INTA-Castelar,SA Santiago del Estero 2455
106,00f1d7ae7a82e7db4b56c30d5e174439746c2d75,0,Hospital Universitario Son Espases,Universitat de Girona
107,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,0,China Medical University,Kuandian Country Hospital
108,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,1,China Medical University,Dalian Medical University
109,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,2,China Medical University,Liaoning Province CDC
110,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,3,China Medical University,Donggang infectious diseases hospital
111,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,4,China Medical University,Liaoning Provincial People's Hospital
112,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,5,Kuandian Country Hospital,Dalian Medical University
113,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,6,Kuandian Country Hospital,Liaoning Province CDC
114,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,7,Kuandian Country Hospital,Donggang infectious diseases hospital
115,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,8,Kuandian Country Hospital,Liaoning Provincial People's Hospital
116,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,9,Dalian Medical University,Liaoning Province CDC
117,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,10,Dalian Medical University,Donggang infectious diseases hospital
118,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,11,Dalian Medical University,Liaoning Provincial People's Hospital
119,00fcc6277c19f6b180232d7a6fe0b0abfafb21f7,12,Liaoning Province CDC,Donggang infectious diseases hospital

# Projection Resources

* https://github.com/vasturiano/three-globe
* https://medium.com/@xiaoyangzhao/drawing-curves-on-webgl-globe-using-three-js-and-d3-draft-7e782ffd7ab
* http://learningthreejs.com/blog/2013/09/16/how-to-make-the-earth-in-webgl/
* rotate camera to look at specific point: https://discourse.threejs.org/t/solved-rotate-camera-to-face-point-on-sphere/1676
* rotate camera to specific lat/lng: https://stackoverflow.com/questions/35465654/rotating-a-sphere-to-a-specific-point-not-the-camera
* design inspo: http://shinyeonpark.com/project/ana-flight-connections/